* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}
/* margin: 0; padding: 0;

Menghilangkan jarak bawaan browser.

Tanpa ini → layout sering berantakan.

box-sizing: border-box;

Supaya ukuran elemen lebih mudah dihitung.

Tanpa ini → width bisa jadi aneh.

scroll-behavior: smooth;

Biar saat klik navbar, scroll jadi halus. */


body {
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #1F51FF;
    color: white;
    /* Navbar selalu di atas meski di-scroll. */
    position: fixed;
    width: 100%; 
    top: 0;
    z-index: 1000;
}
/* display: flex

Mengaktifkan Flexbox (layout modern).

justify-content: space-between

Logo kiri — menu kanan.

align-items: center

Biar sejajar vertikal. */

.logo {
    font-weight: bold;
    font-size: 20px;
}
.logo span {
    color: #ADEBB3;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #111;
}
/* Saat mouse diarahkan → warna berubah. */

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

 

/* Hero */
.hero {
    height: 100vh;
    /* 100vh = 100% tinggi layar. */
    background: #1F51FF; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero span {
    color: #ADEBB3; 
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #ADEBB3;
    color: #111;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* Sections */
.section {
    padding: 100px 10%;
    text-align: center;
}

.bg-light {
    background: #f4f4f4;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Contact */
.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*  */
.contact-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Form Style */
.contact-form {
    text-align: left;
    flex: 1;
    background: #f5f5f5;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.radio-group {
    display: flex;
    gap: 15px;
}

.btn-submit {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #3EB489,#ADEBB3 );
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Output Box */
.output-box {
    flex: 1;
    background: #dbe8f4;
    padding: 25px;
    border-radius: 15px;
    border-left: 6px solid #ADEBB3;
}

.output-box p {
    margin-bottom: 10px;
}

/* Responsive HP */
@media(max-width: 768px){
    .contact-wrapper {
        flex-direction: column;
    }
}



footer {
    background: #1F51FF;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width: 768px){ /*Jika layar ≤ 768px (HP/tablet)*/
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background: #111;
        flex-direction: column;
        width: 200px;
        display: none; /*Menu disembunyikan.*/
        padding: 20px;
    }

    .nav-links.active {
        display: flex;
    } /*Kalau class active ditambahkan lewat JS → menu muncul.*/

    .menu-toggle {
        display: block;
    }
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.popup-content input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

.popup-content button {
    padding: 8px 20px;
    border: none;
    background: #00adb5;
    color: white;
    cursor: pointer;
}

